<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>
    <add name="MediaApp.Properties.Settings.MediaConnectionString"
      connectionString="Data Source=|DataDirectory|\Media.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="SelLibrary" value="Media"/>
    
  </appSettings>
    <userSettings>
        <MediaApp.Properties.Settings>
            <setting name="playlistShow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filmDisplayResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedFilmDetailsShow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twelvehour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Showweekday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Showseconds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TreeSelectionindex" serializeAs="String">
                <value>Film</value>
            </setting>
            <setting name="FullScreenPanelLoc" serializeAs="String">
                <value>362, 354</value>
            </setting>
            <setting name="resultsCastEditable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="FilmFileTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.avi</string>
                        <string>*.mkv</string>
                        <string>*.wmv</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FilmFileFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>xvid</string>
                        <string>divx</string>
                        <string>dvdrip</string>
                        <string>ac3</string>
                        <string>mp3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FilmEnableWatchedFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Searchpattern" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Title</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MediaApp.Properties.Settings>
    </userSettings>
</configuration>